extends layout

block content
  h1= itemDetail.name
  ul
    li= `Description: ${itemDetail.desc}`
    li Category: 
        a(href=`/inventory/category/${itemDetail.category.id}`)= itemDetail.category.name
    li= `Price: ${itemDetail.price}` 
    li= `In-Stock: ${itemDetail.numOfStock}` 